.fade-leave {
  /*opacity: 1;*/
  /*position: relative;
  z-index: 999;*/
  transform: translateX(0px);
  will-change: transform;
  z-index: 99;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d; 
}
.fade-leave.fade-leave-active {
  /*opacity: 0;*/
  transition: all 0.3s linear;
  /*position: relative;
  z-index: 999;*/
  transform: translateX(-100vw);
}

.fade-enter {
  transform: translateX(100vw);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d; 
}
.fade-enter.fade-enter-active {
  /*opacity: 1;*/
  transition: all 0.3s linear;
  transition-delay: 0.3s;
  transform: translateX(0px);
}

/*.fade-height {
  transition: height .5s ease-in-out;
}*/
