.App {
  text-align: center;
}
.logo span{
  color: black;
}
button:focus,
input:focus{
  outline: 0 !important;
}

.fade-leave {
  transform: translateX(0px);
  will-change: transform;
  z-index: 99;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}
.fade-leave.fade-leave-active {
  transition: all 0.3s linear;
  transform: translateX(-100vw);
}

.fade-enter {
  transform: translateX(100vw);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}
.fade-enter.fade-enter-active {
  /*opacity: 1;*/
  transition: all 0.3s linear;
  transition-delay: 0.3s;
  transform: translateX(0px);
}
